* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: antiquewhite;
    width: 100%;
    color: black;
    height: 64px;
    text-align: center;
}

main {
    border-color: black;
    border-style: initial;
    border-width: 1px;

}