* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: rgb(233, 0, 0);
    width: 100%;
    color: rgb(254, 254, 254);
    height: 78px;
    text-align: center;
}

main {
    border-color: black;
    border-style: initial;
    border-width: 1px;

}
